<!DOCTYPE html>
<html>
<head>
    <title>My App</title>
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
    <nav>
        <ul>
            <li><a href="/Auth/Login">Login</a></li>
            <li><a href="/Auth/Register">Register</a></li>
            <li><a href="/Auth/Dashboard">Dashboard</a></li>
        </ul>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>